body{
    padding-bottom: 500px;
}

div{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #000;
}

div input,
div label{
    display: block;
    margin-top: 5px;
}

.radio input,
.radio label{
    display: inline-block;
}
